<div class="row">
	<div class="col-lg-9 col-12">
		<div class="wn__single__product">
			<div class="row">
				<div class="col-lg-6 col-12">
					<h2><%=@book.title%></h2>
					<h5>by <%=@book.author%></h5>
					<div class="wn__fotorama__wrapper">
						<iframe src="<%=@book.path_read%>" width="840" height="980"></iframe>
					</div>
				</div>
			</div>
		</div>
		
		<div class="product__info__detailed">
			
		</div>
		
	</div>
	<div class="col-lg-3 col-12 md-mt-40 sm-mt-40">
		<div class="shop__sidebar">
			<aside class="wedget__categories poroduct--cat">
				<h3 class="wedget__title">Product Categories</h3>
				<ul>
					<% Category.all.each do |category| %>
					<li><%= link_to category.name, books_path(category: category.name), class: "link" %>
						<span>
							(<%= Book.where(:category_id => category.id).size %>)
						</span>
					</li>
					<% end %>
				</ul>
			</aside>

			<aside class="wedget__categories poroduct--tag">
				<h3 class="wedget__title">Product Tags</h3>
				<ul>
					<li><a href="#">Biography</a></li>
					<li><a href="#">Business</a></li>
					<li><a href="#">Cookbooks</a></li>
					<li><a href="#">Health & Fitness</a></li>
					<li><a href="#">History</a></li>
					<li><a href="#">Mystery</a></li>
					<li><a href="#">Inspiration</a></li>
					<li><a href="#">Religion</a></li>
					<li><a href="#">Fiction</a></li>
					<li><a href="#">Fantasy</a></li>
					<li><a href="#">Music</a></li>
					<li><a href="#">Toys</a></li>
					<li><a href="#">Hoodies</a></li>
				</ul>
			</aside>

		</div>
	</div>
</div>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>
